[Unit]
Description=Osiris Server
After=syslog.target
After=network.target

[Service]
User=osiris
ExecStart=/var/osiris/server/osiris-server.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
