[submodule "third-party/puppet/cgieoss-osiris"]
	path = third-party/puppet/cgieoss-osiris
	url = https://github.com/cgi-eoss/puppet-osiris.git
	branch = development
[submodule "third-party/cxx/zoo-project/src"]
	path = third-party/cxx/zoo-project/src
	url = https://github.com/OSGeo/zoo-project.git
	branch = master
