[Unit]
Description=FS-TEP Worker
After=syslog.target
After=network.target

[Service]
User=osiris
ExecStart=/var/osiris/worker/fs-tep-worker.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
