[Unit]
Description=Osiris Worker
After=syslog.target
After=network.target

[Service]
User=osiris
ExecStart=/var/osiris/worker/osiris-worker.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
