<article id="tutorials" class="col-md-12 no-padding osiris-content">

    <section id="left-column" class="col-md-7 col-sm-12 no-padding">

        <md-card id="links" md-theme-watch class="osiris-card">
            <md-card-content>
            <div layout="row" class="row">
                <div class="col-md-8 ">
                    <blockquote>Help material will be provided before platform launch</blockquote>
                </div>
            </div>
            </md-card-content>
        </md-card>

    </section>

</article>
