<article id="incident-header">

    <md-button class="close toolbar-button md-secondary"
               ng-click="incidentParams.selectedIncident = undefined"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <md-button id="update-incident"
               class="save-button md-fab md-mini right"
               ng-click="addOrUpdateIncident()"
               ng-disabled="createIncidentForm.$invalid"
               aria-label="Update Incident"
               uib-tooltip="Update Incident"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
            <i class="material-icons">save</i>
    </md-button>

    <section id="incident-title" class="row section-title">
        <div class="col-xs-10 title-text">
            <h2 ng-if="incidentData.id" ng-bind="'Incident ' + incidentData.id" />
            <h2 ng-if="!incidentData.id" ng-bind="'Create new incident'" />
        </div>
    </section>

</article>
<br><br>
<article id="incident-details">
    <section id="incident-update" class="sub-title row">
        <div class="col-xs-12 col-md-6">
            <form name="createIncidentForm">
                <div class="row">
                    <div class="col-xs-12 item-list">
                        <md-input-container>
                            <label>Incident type</label>
                            <md-select
                                ng-model="incidentData.type"
                                ng-change="onIncidentTypeChange(incidentData.type)"
                                ng-disabled="incidentData.id"
                                md-autofocus
                                aria-label="Incident Type"
                                required
                            >
                                <md-option ng-repeat="type in incidentTypes" ng-value="type.id">
                                    {{type.title}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 item-list">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input ng-model="incidentData.title" type="text" aria-label="Item Name" maxlength="16" required>
                        </md-input-container>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 item-list">
                        <md-input-container>
                            <label>Description</label>
                            <input ng-model="incidentData.description" />
                        </md-input-container>
                    </div>
                </div>
                <br>
                <aoi-field value="incidentData.aoi" label="'Incident area:'" required="true" read-only="!!incidentData.id"></aoi-field>
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-6 no-padding date-container">
                        <md-datepicker ng-required="true" ng-disabled="incidentData.id" ng-model="incidentData.startDate" md-placeholder="Start date" />
                    </div>
                    <div class="col-md-12 col-lg-6 no-padding date-container">
                        <md-datepicker ng-required="true" ng-disabled="incidentData.id" ng-model="incidentData.endDate" md-placeholder="End date" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-6">
            <div id="map" ng-controller="MapCtrl" style="height: 40vh"></div>
        </div>
    </section>
</article>

<article id="incident-workflow">
    <section class="row section-title">
        <div class="col-xs-11 title-text">
            <h3>Incident processing</h3>
        </div>
    </section>

    <section class="item-list processing-list">
        <md-list-item class="md-1-line" ng-class="{'is-disabled': !processingTemplate.instance.active}" ng-repeat="processingTemplate in incidentData.processingTemplates">

            <md-switch ng-if="!incidentData.id" ng-model="processingTemplate.instance.active">
            </md-switch>

            <div class="md-avatar">
                <i class="material-icons">settings_input_component</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 ng-bind="processingTemplate.title" />
                <span ng-bind="processingTemplate.description" />
            </div>

            <div class="md-list-item-text">
                <span><span><b>Service: </b></span><span ng-bind="processingTemplate.service.name"></span></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                        ng-click="editProcessingTemplateDialog($event, processingTemplate)"
                        ng-if="processingTemplate.instance.active && !incidentData.id"
                        aria-label="Edit"
                        uib-tooltip="Edit"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>
            <md-button class="toolbar-button md-secondary"
                        ng-click="editProcessingTemplateDialog($event, processingTemplate)"
                        ng-if="processingTemplate.instance.active && incidentData.id"
                        aria-label="Info"
                        uib-tooltip="Info"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">info</i>
            </md-button>
            <md-button class="toolbar-button md-secondary"
                        ng-click="goToSystematicProcessing(processingTemplate.instance.meta.systematicProcessing)"
                        ng-if="processingTemplate.instance.meta && processingTemplate.instance.meta.systematicProcessing"
                        aria-label="Open associated systematic processing"
                        uib-tooltip="Open associated systematic processing"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">timer</i>
            </md-button>
            <md-button class="toolbar-button md-secondary"
                        ng-click="goToProcessingCollection(processingTemplate.instance.meta.collection)"
                        ng-if="processingTemplate.instance.meta && processingTemplate.instance.meta.collection"
                        aria-label="Open output collection"
                        uib-tooltip="Open output collection"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">collections</i>
            </md-button>
        </md-list-item>
    </section>
</article>
