[Unit]
Description=Osiris Service Registry
After=syslog.target
After=network.target

[Service]
User=osiris
ExecStart=/var/osiris/serviceregistry/osiris-serviceregistry.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
